footer{
    position: absolute;
    width: 100vw;
    height: 10vh;
    text-align: center;
    bottom: 0;
    background-color: rgb(131, 131, 131);
    h3{
        margin: 0;
        transform: translateY(70%);
    }
}