.container {
  height: 75vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 95%;
    height: 30%;
    #bodyArea{
      position:absolute;
      margin-top: 12px;
    }
    #url {
      width: 50%;
      height: 20%;
      margin: 5px 10px 0px 10px;
      padding: 5px 0 5px 0;
      font-size: 1.2rem;
    }
    #submit {
        font-size: 1.2rem;
        padding: 5px 15px 5px 15px;
    }
    label {
      font-size: 1.5rem;
    }
    .radio {
      position: relative;      
      padding: 0 0 0 10%;
      cursor: pointer;
    }
    .radio input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .checkmark {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        height: 50px;
        width: 100px;
        padding: 12px 0 0 0;
        background-color: #fff;
        border-radius: 10px;
      }
      .radio input:checked ~ .checkmark {
        background-color: darkred;
        color: white;
      }
  }
}
section {
  position: absolute;
  top: 240px;
  right: 15px;
  background-color: rgb(212, 212, 212);
  width: 60vw;
  height: 50vh;
  overflow-y: scroll;
}